* {
  margin: 0;
  padding: 0;
  list-style: none; }

html, body {
  width: 100%;
  height: 100%; }

a {
  text-decoration: none; }

img {
  vertical-align: middle; }

body {
  font-size: 0.2rem;
  background-color: #F7F9FF; }

.header {
  width: 6.4rem;
  height: 0.75rem; }
  .header .head {
    width: 5.88rem;
    padding: 0 0.26rem;
    height: 0.75rem;
    line-height: 0.75rem;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 0.2rem 0 #E8E8E8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; }
    .header .head .hleft {
      width: 0.2rem;
      height: 0.31rem; }
      .header .head .hleft img {
        width: 100%;
        height: auto; }
    .header .head .mid {
      font-size: 0.31rem;
      font-family: "PingFangSC-Regular", Arial, Helvetica, sans-serif; }
    .header .head .hright {
      width: 0.35rem; }
      .header .head .hright img {
        width: 100%;
        height: auto; }

.details {
  padding: 0.45rem 0.17rem; }
  .details .information {
    display: flex; }
    .details .information .detal img {
      width: 1.02rem;
      height: 1.02rem;
      border-radius: 50%;
      margin: 0 0.25rem 0.25rem 0.16rem; }
    .details .information .detar p:nth-of-type(1) {
      margin: 0.18rem 0; }
      .details .information .detar p:nth-of-type(1) .name {
        font-size: 0.26rem;
        font-family: "PingFangSC-Regular", Arial, Helvetica, sans-serif;
        color: #333;
        margin-right: 0.18rem; }
      .details .information .detar p:nth-of-type(1) .sex, .details .information .detar p:nth-of-type(1) .real-name, .details .information .detar p:nth-of-type(1) .video {
        margin-right: 0.12rem; }
    .details .information .detar p:nth-of-type(2) {
      font-size: 0.18rem;
      font-family: "PingFang-SC-Regular", Arial, Helvetica, sans-serif;
      color: #aaa; }
      .details .information .detar p:nth-of-type(2) .timer {
        margin-right: 0.12rem; }
  .details .deta-con {
    padding: 0.56rem 0.53rem 1.17rem;
    background-color: white;
    border-radius: 0.1rem;
    position: relative; }
    .details .deta-con .deta-type {
      display: flex;
      justify-content: space-around;
      text-align: center;
      margin-bottom: 0.62rem; }
      .details .deta-con .deta-type .detypimg {
        height: 0.42rem; }
    .details .deta-con .detaul .detali {
      margin-bottom: 0.38rem; }
      .details .deta-con .detaul .detali .icon {
        margin-right: 0.3rem; }
        .details .deta-con .detaul .detali .icon img {
          height: 0.31rem; }
      .details .deta-con .detaul .detali .title {
        font-family: "PingFang-SC-Regular", Arial, Helvetica, sans-serif;
        font-size: 0.27rem;
        color: #666; }
    .details .deta-con .deta-price {
      height: 0.74rem;
      line-height: 0.74rem;
      font-size: 0.39rem;
      font-family: "PingFangSC-Regular", Arial, Helvetica, sans-serif;
      text-align: center;
      color: #fa719a; }
    .details .deta-con .qiang-wrap {
      position: absolute;
      left: 50%;
      margin-left: -0.985rem;
      bottom: -1rem;
      border: 0.16rem solid rgba(255, 218, 43, 0.4);
      border-radius: 50%; }
      .details .deta-con .qiang-wrap .qiang-box {
        width: 1.37rem;
        height: 1.37rem;
        background-color: #ffd200;
        border-radius: 50%;
        text-align: center;
        line-height: 1.37rem;
        font-size: 0.5rem;
        color: #fff;
        font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
        border: 0.14rem solid #FFFFFF; }
        .details .deta-con .qiang-wrap .qiang-box .qiang-span {
          display: inline-block;
          width: 0.16rem;
          height: 0.16rem;
          background-color: #fff;
          border-radius: 50%;
          position: absolute;
          top: -0.16rem;
          left: 50%;
          margin-left: -0.08rem; }
  .details .tip {
    margin-top: 1.46rem;
    text-align: center;
    font-size: 0.2rem;
    font-family: "PingFangSC-Regular", Arial, Helvetica, sans-serif;
    color: #aaa; }

/*# sourceMappingURL=one-details.css.map */
