* {
  margin: 0;
  padding: 0;
  list-style: none; }

html, body {
  width: 100%;
  height: 100%; }

a {
  text-decoration: none; }

img {
  vertical-align: middle; }

body {
  font-size: 0.2rem;
  background-color: #F7F9FF; }

.header {
  width: 6.4rem;
  height: 0.75rem; }
  .header .head {
    width: 5.88rem;
    padding: 0 0.26rem;
    height: 0.75rem;
    line-height: 0.75rem;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #fa719a 1%, #fee141 100%);
    box-shadow: 0 0 0.2rem 0 #E8E8E8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; }
    .header .head .hleft {
      width: 0.2rem;
      height: 0.31rem; }
      .header .head .hleft img {
        width: 100%;
        height: auto; }
    .header .head .mid {
      font-size: 0.31rem;
      color: #fff;
      font-family: "PingFangSC-Regular", Arial, Helvetica, sans-serif; }
    .header .head .hright {
      width: 0.35rem; }
      .header .head .hright img {
        width: 100%;
        height: auto; }

.mood-img {
  padding: 0.35rem 0.47rem 0.19rem 0.24rem;
  background-color: #fff;
  margin-bottom: 0.06rem; }
  .mood-img .person {
    display: flex; }
    .mood-img .person .berson-img {
      position: relative;
      width: 0.7rem;
      height: 0.7rem;
      margin-right: 0.12rem; }
      .mood-img .person .berson-img .head-portrait {
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%; }
      .mood-img .person .berson-img .head-portrait1 {
        width: 0.7rem;
        height: 0.7rem;
        box-sizing: border-box;
        border-radius: 50%;
        border: 2px solid #FEDE3D;
        position: absolute;
        z-index: 2; }
      .mood-img .person .berson-img .crown {
        width: 0.38rem;
        height: 0.3rem;
        position: absolute;
        left: -0.07rem;
        top: -0.12rem;
        z-index: 0; }
    .mood-img .person .per-tit .per-p1 {
      margin-bottom: 0.12rem; }
      .mood-img .person .per-tit .per-p1 .name {
        font-size: 0.27rem;
        font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
        color: #333; }
      .mood-img .person .per-tit .per-p1 .sex {
        display: inline-block;
        padding: 0.05rem 0.07rem;
        background-color: #FDC5F1;
        border-radius: 0.05rem;
        vertical-align: middle;
        line-height: 0.26rem;
        color: #fff;
        font-size: 0.14rem;
        font-family: "PingFangSC-Regular", Arial, Helvetica, sans-serif; }
        .mood-img .person .per-tit .per-p1 .sex .sex-img img {
          height: 0.18rem;
          vertical-align: middle; }
      .mood-img .person .per-tit .per-p1 .name, .mood-img .person .per-tit .per-p1 .sex, .mood-img .person .per-tit .per-p1 .real-name, .mood-img .person .per-tit .per-p1 .video, .mood-img .person .per-tit .per-p1 .vehicle {
        margin-right: 0.13rem; }
    .mood-img .person .per-tit .per-p2 {
      font-size: 0.17rem;
      color: #aaa;
      font-family: "PingFangSC-Regular", Arial, Helvetica, sans-serif; }
  .mood-img .title {
    margin-left: 0.77rem;
    margin-top: 0.07rem; }
    .mood-img .title .title-txt {
      font-size: 0.23rem;
      font-family: "PingFangSC-Regular", Arial, Helvetica, sans-serif;
      color: #333;
      line-height: 0.36rem; }
      .mood-img .title .title-txt .down-arrow {
        width: 0.1rem;
        height: auto; }
    .mood-img .title .title-imgbox {
      display: flex;
      justify-content: space-between;
      margin: 0.09rem 0; }
      .mood-img .title .title-imgbox .title-img {
        width: 1.55rem;
        height: 1.55rem;
        border-radius: 0.1rem; }
    .mood-img .title .title-videobox {
      display: flex;
      justify-content: space-between;
      margin: 0.09rem 0; }
      .mood-img .title .title-videobox .video-box {
        width: 1.60rem;
        height: 1.60rem;
        border-radius: 0.1rem;
        position: relative; }
        .mood-img .title .title-videobox .video-box .title-img {
          width: 1.55rem;
          height: 1.55rem;
          border-radius: 0.1rem; }
        .mood-img .title .title-videobox .video-box .suspend-btn {
          width: 0.64rem;
          height: 0.64rem;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto; }
    .mood-img .title .positions {
      display: flex; }
      .mood-img .title .positions img {
        width: 0.19rem;
        height: 0.22rem;
        vertical-align: middle;
        margin-top: 0.04rem; }
      .mood-img .title .positions span {
        margin-left: 0.1rem;
        line-height: 0.31rem;
        font-size: 0.16rem;
        color: #aaa;
        font-family: "PingFangSC-Regular", Arial, Helvetica, sans-serif; }
    .mood-img .title .fabulous {
      display: flex;
      justify-content: space-between;
      font-size: 0.16rem;
      font-family: "PingFangSC-Regular", Arial, Helvetica, sans-serif;
      color: #aaa;
      margin-top: 0.2rem; }
      .mood-img .title .fabulous .fab-p2 .zan-box {
        margin-right: 0.3rem; }
        .mood-img .title .fabulous .fab-p2 .zan-box .zan {
          height: 0.28rem;
          width: auto; }
      .mood-img .title .fabulous .fab-p2 .ping-box .ping {
        height: 0.28rem;
        width: auto; }

.give-up {
  display: flex;
  flex-wrap: wrap;
  padding: 0.18rem 0.2rem;
  background-color: #fff;
  margin-bottom: 0.06rem; }
  .give-up .giveup-li {
    width: 0.44rem;
    height: 0.44rem;
    margin-right: 0.09rem; }
    .give-up .giveup-li img {
      width: 0.44rem;
      height: 0.44rem;
      border-radius: 50%; }

.reply-wrap {
  background-color: #fff;
  margin-bottom: 0.06rem; }
  .reply-wrap .reply-box {
    padding: 0.22rem 0.43rem 0.22rem 0.53rem;
    display: flex;
    justify-content: space-between; }
    .reply-wrap .reply-box .reply-left {
      display: flex; }
      .reply-wrap .reply-box .reply-left .user-img {
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
        margin-right: 0.18rem; }
      .reply-wrap .reply-box .reply-left .tit-box {
        font-size: 0.26rem;
        color: #333; }
        .reply-wrap .reply-box .reply-left .tit-box .titbox-top {
          margin-bottom: 0.05rem; }
    .reply-wrap .reply-box .reply-right {
      font-size: 0.15rem;
      color: #9F9F9F; }

/*# sourceMappingURL=xq.css.map */
